<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>MyBatis Converter</title>

    <!-- import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }

      .text-area {
        width: 60%;
      }

      .setting-group {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
      }
      .input-group {
        display: flex;
        flex-direction: row;
        /* margin: 5px 10px 0 0; */
      }
      .input {
        margin: 5px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <h2>MyBatis Converter</h2>
        <el-input
          type="textarea"
          placeholder="write SQL with MyBatis!"
          v-model="originSQLString"
          class="text-area"
          rows="10"
        ></el-input>
        <div class="setting-group">
          <div class="input-group">
            <el-input
              :placeholder="params[0].key"
              v-model="params[0].value"
              clearable
              class="input"
            ></el-input>
            <el-input
              :placeholder="params[0].key"
              v-model="params[0].value"
              clearable
              class="input"
            ></el-input>
          </div>
          <div class="button-group">
            <el-button>Convert</el-button>
          </div>
        </div>
        {{ testConsole }}
      </div>
    </div>
    <script>
      let app = new Vue({
        el: "#app",
        data() {
          return {
            testConsole: "",
            originSQLString: "",
            params: [
              { key: "param1Holder", value: "" },
              { key: "param2", value: "" },
            ],
          };
        },
        watch: {
          originSQLString: {
            handler(currentValue) {
              this.convertSQL(currentValue);
            },
          },
        },
        methods: {
          convertSQL(currentValue) {
            const queryList = currentValue.split(";");

            this.testConsole = queryList;
          },
        },
      });
    </script>
  </body>
</html>
